.layout-wrapper {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
  background-color: var(--bg-color);
}

/* 2. მენიუ უნდა გაიჭედოს (Sticky) */
.header-menu {
  width: 280px;
  height: calc(100vh - 40px); /* ეკრანის სრული სიმაღლე მინუს პედინგები */
  position: sticky; /* აი ეს აჩერებს სქროლვისას! */
  top: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.menu-brand {
  margin-top: 51px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0 20px 10px; /* ოდნავ მარცხნივ შეწიე, რომ მენიუს ხაზზე იჯდეს */
}

/* ბრენდის სახელი (Temo.Dev) გავხადოთ უფრო თვალსაჩინო */
.text-1 {
  color: var(--primary-color);
  font-size: 2.8rem;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.sidebar-footer {
  margin-top: auto; /* ეს აგდებს ფუთერს მენიუს ბოლოში */
  background-color: #1e293b;
  color: var(--white);
  padding: 15px;
  border-radius: var(--radius);
  text-align: center;
}

.main-nav {
  background-color: var(--secondary-color); /* ლურჯი უფრო სერიოზულია */
  padding: 30px 20px;
  border-radius: var(--radius);
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1); /* ჩრდილი მარჯვნივ, რომ კონტენტს გამოეყოს */
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.main-nav ul {
  list-style: none;
}
/* ლინკების საწყისი მდგომარეობა */
.main-nav ul li a {
  display: block;
  padding: 12px;
  color: var(--white);
  text-decoration: none;
  background: rgba(255, 255, 255, 0.05); /* ძალიან ნაზი ფონი */
  margin-bottom: 10px;
  border-radius: 12px;
  transition: all 0.3s ease; /* ეს არის ჯადოქრობა - ანიმაციის სისწრაფე */
  border: 1px solid transparent;
}

.main-nav ul li a:hover {
  background: var(--white);
  color: var(--secondary-color); /* ტექსტი ლურჯდება */
  transform: translateX(10px); /* ლინკი ოდნავ მარჯვნივ იწევა */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .hero-grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .hero-sidebar {
    grid-column: span 2;
  }
}

@media (max-width: 900px) {
  .layout-wrapper {
    flex-direction: column;
    padding: 10px; /* ნაკლები სივრცე გვერდებზე */
    gap: 10px;
  }

  .header-menu {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
  }
  .hero-grid-container {
    grid-template-columns: 1fr;
  }
  .hero-sidebar {
    grid-column: span 1;
  }
}
